application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:	
	leanmapper.connection: LeanMapper\Connection(%leanmapper%)
	- LeanMapper\DefaultMapper
	- LeanMapper\DefaultEntityFactory
	- Model\Repository\EntryRepository
	- Model\Repository\AnswerRepository
	- Model\Repository\QuestionRepository
	- Model\Repository\TagRepository
	- Model\Repository\UserRepository
	- Model\Repository\ChecklistRepository
	- Model\Entity\Entry
	- Model\Entity\Answer
	- Model\Entity\Question
	- Model\Entity\Tag
	- Model\Entity\User
	- Model\Entity\Checklist
	- Model\TableManager
	- App\Forms\SignFormFactory
	router: App\RouterFactory::createRouter
	googleUserRepository: 
		class: Model\Repository\GoogleUserRepository
		setup:
			- allowUserCreation(%userCreationAllowed%)
	kbFilter: 
		class: App\Model\EntryFilter
		setup:
			- setQuestionOpenings(%questionOpenings%)
	nette.latteFactory:
		setup:
			- addFilter(renderEntry, [@kbFilter, process])

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension
	google: Kdyby\Google\DI\GoogleExtension