#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	leanmapper:
		driver: mysqli
		host: localhost
		username: ***
		password: ***
		database: ***
	userCreationAllowed: false
	questionOpenings: "Who,What,Where,Why,When,How"

php:
	date.timezone: Europe/Prague

translation:
	default: en
	fallback: [en_US, en]

google:
	clientId: ***
	clientSecret: ***
	returnUri: ':Login:'(do=googleLogin-response) # /login?do=googleLogin-response

includes:
	- config.app.neon
