app:
	name: "KiskBase"
	search: "Hledání"
	entriesTagged: "Otagováno"
	performSearch: "Hledat"
	noResults: "Zdá se, že v databázi nic podobného není"
	tags: "Štítky"
	table: Tabulka
	tables: Databázové tabulky
	dashboard: "Nástěnka"
	userDashboard: "%user%"
	allEntries: "Všechny otázky"
	allTags: "Všechny tagy"
	allTables: "Všechny tabulky"
	freshlyUpdated: "Nedávno aktualizované otázky"
	loginNeeded: "Obsah není dostupný pro nepřihlášené uživatele. Prosím, přihlašte se pomocí svého účtu."
	confirmedUsersOnly: "Pouze pro potvrzené uživatele."
	login: "přihlásit se"
	loginViaGoogle: "Přihlásit se pomocí Google"
	logout: "odhlásit se"
	fakeLogin: "Falešný login pro testovací účely"
	setup:
		setup: "Instalace KiskBase"
		install: "Nainstalovat"
		tableInstalled: "Tabulka <b>%table%</b> již byla vytvořena."
		tableNotInstalled: "Tabulka <b>%table%</b> v databázi zatím chybí."
		everythingWasWell: "Všechno dobře dopadlo. Běžte se podívat, jak se pracuje s KiskBase!"
		goHome: "Začít pracovat s KiskBase"
kb:
	kb: "KB" 
	kiskbase: "KiskBase"
	newEntry: "Nová otázka"
	editor: "Tento záznam spravuje"
	authoredBy: "Poslední úprava"
	editingMode: "Úpravy"
	relatedEntries: "Související otázky"
	noRelatedEntries: "Nebyly nalezeny žádné související otázky."
	emptyEntry: "Tento záznam je zatím prázdný."
	noNamespaceGiven: "Bez kategorie"
	saveButton:
		edit: "upravit"
		saving: "ukládám&hellip;"
		saved: "uloženo"
		save: "uložit"
		error: "chyba?"
sqlRender:
	query: "Databázový dotaz"
	usedTables: "Použité tabulky"
	queryNo: "Databázový dotaz číslo %queryNo%"
	showQueryDetails: "Zobrazit detaily"
	seeQueryNo: "dotaz %queryNo%"
	error: "V zadaném databázovém příkazu %sql% je nejspíše chyba."
	errorMessage: "Databázový server odpověděl"
table:
	field: "sloupec"
	type: "typ"
	comment: "poznámka"
	showDetails: "Zobrazit informace o tabulce"
	addNewItem: "Přidat nový záznam (%itemName%)"
	newItem: "Nový záznam (%itemName%)"
	createItem: "Vytvořit záznam"
	newItemCreated: "Záznam byl vytvořen"
user:
	myEntries: "Spravuji"
	myChecklists: "Mé checklisty"
checklist:
	checklist: Checklist
	source: "Zdroj checklistu"
	createChecklist: "vytvořit checklist"
	nameChecklist: "Pojmenujte nový checklist"
