app:
	name: "KiskBase"
	search: "Search"
	entriesTagged: "Tagged"
	performSearch: "Search"
	noResults: "Nothing like this in our database, it seems."
	tags: Tags
	table: Table
	tables: "Database tables"
	dashboard: "Dashboard"
	allEntries: "All questions"
	allTags: "All tags"
	allTables: "All tables"
	freshlyUpdated: "Recently updated"
	loginNeeded: "Login is required. Please sign in."
	login: "Log in"
	loginViaGoogle: "Log in via Google account"
	onlyDomainUsers: "only domain users"
	logout: "Log out"
	fakeLogin: "Fake login for testing purposes (localhost)"
	setup:
		setup: "KiskBase setup"
		install: "Install KiskBase"
		tableInstalled: "Table <b>%table%</b> has been created."
		tableNotInstalled: "Table <b>%table%</b> is not in the database."
		everythingWasWell: "And all was well… Go check out KiskBase!!"
		goHome: "Start working with KiskBase"
kb:
	kb: "KB" 
	kiskbase: "KiskBase"
	newKb: "New question"
	editor: "Editor of this entry"
	authoredBy: "Last update"
	editingMode: "Edit"
	relatedEntries: "Related entries"
	noRelatedEntries: "No related entries found."
	emptyEntry: "This answer is empty."
	saveButton:
		edit: "edit"
		saving: "saving&hellip;"
		saved: "saved"
		save: "save"
		error: "error?"
sqlRender:
	query: "Database query"
	usedTables: "Tables used in query"
	queryNo: "Database query no. %queryNo%"
	showQueryDetails: "Show details"
	seeQueryNo: "query %queryNo%"
	error: "There is an error in the database query."
	errorMessage: "Server says"
table:
	field: "column"
	type: "type"
	comment: "comment"
